Source: ros-galactic-turtlebot3
Section: misc
Priority: optional
Maintainer: Will Son <willson@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake, ros-galactic-ros-workspace
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-galactic-turtlebot3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-turtlebot3-bringup, ros-galactic-turtlebot3-cartographer, ros-galactic-turtlebot3-description, ros-galactic-turtlebot3-example, ros-galactic-turtlebot3-navigation2, ros-galactic-turtlebot3-node, ros-galactic-turtlebot3-teleop, ros-galactic-ros-workspace
Description: ROS 2 packages for TurtleBot3
