Source: ros-humble-turtlebot3-teleop
Section: misc
Priority: optional
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-humble-turtlebot3-teleop
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-humble-geometry-msgs, ros-humble-rclpy, ros-humble-ros-workspace
Description: Teleoperation node using keyboard for TurtleBot3.
